<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="dist/app.css">
</head>
<body >
  <div id="root">
    <div class="sfondo-header">
      <header>
        <nav>
          <div class="nav-header">
            <ul   v-for="(item,index) in listNav" >
              <li  @click="prova(index)"><p  @click="popUpdown">{{item.nav}}</p> </li>
            </ul>
            <img src="img/n-club.png" alt="">
            <ul   v-for="(item,index) in listNavbar" >
              <li  @click="prova1(index)"><p  @click="popUpdown1">{{item.nav}}</p> </li>
            </ul>
          </div>
        </nav>
        <!-- bottoni -->
        <div class="bottoni-hero">
          <div class="a">
            <button type="button" name="button"><div id="font-awesome-icon-book" ><i class="fas fa-book-open"></i> </div> <div id="b">Demos </div> </button>
          </div>
          <div class="a">
            <button type="button" name="button"><div > <span  id="d">$</span > <span id="c">39</span> </div> <div id="b">On sale </div> </button>
          </div>
        </div>
        <!-- sezione a scomparsa -->
        <div class="sectionpopup">
        <div :class="popUp" >
          <div class="close-btn">
                <span>{{listNav[currentUser].nav}}</span>  <button @click="popDown" type="button" name="button"><i class="fas fa-times"></i></button>
          </div>
              <div> <img :src=" listNav[currentUser].title" alt=""></div>

          </div>
          <div :class="popUp1"  >
          <div class="close-btn">
                <span>{{listNavbar[currentUser1].nav}}</span>  <button @click="popDown1" type="button" name="button"><i class="fas fa-times"></i></button>
          </div>
              <div> <img :src=" listNavbar[currentUser1].title" alt=""></div>

          </div>
        </div>
        <!-- <div class="section-popup" v-for="(vide,index) in videos" >
         <div class="section-pop"  >
           <video id="myVideo">
             <source id="mp4_src" :src="videos[index].video" type="video/mp4">
           </video>
         </div>
         <button onclick="playVid()" type="button">Play Video</button>
         <button onclick="pauseVid()" type="button">Pause Video</button>
        </div> -->
            <!-- sezione a scomparsa -->
            <div class="immagine-centrale-hero">
              <img src="img/nt.png" alt="">
              <p class="p-hero-header">making memories all night long</p>
              <button type="button" name="button">BECOME A VIP</button>
              <div class="p-p-hero-header">
              <p class="play-botton" >  VIEW CLUB </p>
                 <!-- <span class="play-button-i"><i class="far fa-circle"></i></span>
                 <span class="play-button-b"><i class="fas fa-play"></i></span> -->
                 <span class="play-button-d"><i class="far fa-play-circle"></i></span>
                <p  class="play-botton"> SHOW REEL</p>
               </div>

            </div>
      </header>
    </div>
    <!-- main -->
    <main>
      <div class="container-main">
        <div class="titolo-main">
          <h3>WELCOME TO AVADA</h3>
          <h2>have the night of your life</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="quattro-immagini">
          <div class="due-immagini" v-for="item in fotoUno">
            <ul>
              <li class="immagini-4-messaggio">
                 <img :src="item.date" alt="">
                 <p class="messaggio-immagini">{{item.message}}</p>

               </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- due immaginnidj -->
      <div class="due-immagini-dj">
        <div class="a1">
          <h3>RESIDENT DJ</h3>
          <h2>dj avada</h2>
          <h5>VIEW PROFILE</h5>
        </div>
        <div class="a2">
          <h3>SPECIAL GUEST DJ</h3>
          <h2>dj blondie</h2>
          <h5>VIEW PROFILE</h5>
        </div>
      </div>
    </main>
    <section>
      <!-- shuffle img -->
      <div class="demo">
        <div class="overlay-black">

        </div>
        <div class="title-special-event">
          <h5>SPECIAL EVENT</h5>
          <h2>for your diary</h2>
        </div>
      <div class="display-img-shuffle">
        <div class="img-shuffle" v-for="item in items">
          <img class="immagine-shuffle" :src="item.img" alt="">
          <p id="paragrafo-rosso">{{item.title}}</p>
          <p id="paragrafo-bianco">{{item.date}}</p>
        </div>
      </div>
        <button v-on:click="shuffle">SHUFFLE</button>
      </div>
    </section>
    <footer>
  <!-- <button @click="show = !show">
    Toggle
  </button>
  <div
    v-on:before-enter="beforeEnter"
    v-on:enter="enter"
    v-on:leave="leave"
    v-bind:css="false"
  >
    <div v-if="show">

<div class="">
  <p>jdjdjdj</p>
    <img src="img/555.jpg" alt="" height="100px">
</div>


    </div>
  </div> -->
  <div class="footer-text">
    <div class="footer-vip">
      <h6>BECOME A VIP TONIGHT</h6>
      <h3>exclusive vip lounge</h3>
    </div>
    <div class="button-footer">
      <button type="button" name="button">JOIN THE CLUB</button>
    </div>
  </div>
</footer>
  </div>
  <script src="js/script.js" charset="utf-8"></script>
    <script src="js/appfunctions.js" charset="utf-8"></script>
</body>
</html>
