
@mixin font {
font-family: 'Montserrat', sans-serif;
}
@mixin font-size {
font-size:12px;
}
header{
background-image: url('../img/aaaa.jpg');
background-size: cover;
height: 100vh;
position: relative;
.bottoni-hero{
    float: right;
    margin-right: 10px;
    margin-top: 20px;
  .a{
  button{
  background-color: #fff;

  min-width:45px;
  padding:5px;
  min-height:45px;
  border-radius: 5px;
    #b{
      font-size: 9px;
    }
    #font-awesome-icon-book{
      font-size: 20px;
    }
    #d{
      color:green;
      margin-right:-4px;
      margin-top:-8px;
        font-size: 9px;
    }
    #c{
      color:green;
      font-size: 20px;
    }
  }
  }
  .immagine-centrale-hero{
  position: absolute;
  top:50%;
  left:50%;

  }
}
}
nav{
  text-align: center;
  width:1219px;

  @include font;
    display:flex;
    justify-content: center;
    align-items: center;
   .nav-header{
    display:flex;
  ul{
    margin-left:-10px;
    margin-top:30px;
    li{
      padding:0px 7px;
        @include font-size;
      list-style: none;
      color: #fff;
    }
  }
  img{
    width:200px;
    height:65px;
    padding:0px  0px  0px 30px;
  }
}
}
