*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
$red-c:#f53c81;
$blue:#0193b0;
@mixin font {
  font-family: 'Montserrat', sans-serif;
}
@mixin font-size {
  font-size:12px;
}
@mixin dist {
  margin-top:30px;
}
.sfondo-header{
  background-size: cover;
  background-image: url('../img/aaaa.jpg');
  background-position: 0 -50px ;
}
header{

  height: 110vh;
  width:100%;
  position: relative;
  .bottoni-hero{
    float: right;
    margin-right: 10px;
    margin-top: 20px;
    .a{
      button{
        background-color: #fff;
        min-width:45px;
        padding:5px;
        min-height:45px;
        border-radius: 5px;
        #b{
          font-size: 9px;
        }
        #font-awesome-icon-book{
          font-size: 20px;
        }
        #d{
          color:green;
          margin-right:-4px;
          margin-top:-8px;
          font-size: 9px;
        }
        #c{
          color:green;
          font-size: 20px;
        }
      }
    }

  }
  .immagine-centrale-hero{
    position: absolute;
    top:55%;
    background: rgb(0,0,0);
    background: linear-gradient(207deg, rgba(0,0,0,0.1516981792717087) 0%, rgba(0,0,0,0.16010154061624648) 0%);

    left:50%;
    transform: translate(-50%,-50%);
    .p-hero-header{
      font-size: 30px;
      text-align: center;
      color:#fff;

      width:100%;
      @include font;
    }
    img{
      width:95%;
      border-bottom: 3px solid #52A5EB;
    }
    .p-p-hero-header{
      width:100%;
      text-align: center;
      color: #fff;
      line-height: -20px;
      @include font;
    }
    .play-button-i{
      font-size:65px;
      margin: 0px 15px;
      margin-bottom: -20px;


    }
    .play-button-b{
      font-size:19px;
      margin-left: -60px;
      margin-right:55px;
      text-align: center;

    }
    button{
      position: relative;
      left:40%;
      margin-top:15px;
      padding:10px 20px;
      border:none;
      color:#fff;
      @include font;
      background-color: rgb(229, 29, 139);
    }
  }

}
nav{
  text-align: center;
  width:1219px;
  margin:auto;
  @include font;
  display:flex;
  justify-content: center;
  align-items: center;
  .nav-header{
    display:flex;
    ul{
      margin-left:-10px;
      margin-top:52px;
      li{
        background-size: 200% auto;
        display: block;
        background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
        padding:8px;
        margin:0 15px;
        transition: 0.5s;
        box-shadow: 0 0 5px #eee;
        border-radius: 5px;
        @include font-size;
        list-style: none;
        color: #fff;
      }
    }
    img{
      width:200px;
      @include dist;
      margin: 30px;
    }
  }
}
.bottoni-hero::after {
  clear: both;
  display: block;
  content: "";
}

nav ul li:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}


// main

main{
  background-image: url('../img/aas.jpg');
  background-size: cover;

  .container-main{
    padding: 100px;
    width:100%;
    height:1200px;
    .titolo-main{
      color:#fff;
      text-align: center;
      width:50%;
      @include font;
      margin:auto;
      h3{
        margin-top: 80px;
        color:$blue;
      }
      h2{
        font-size: 35px;
        margin:20px;
      }
      p{
        font-size: 10px;
      }

    }
  }
  .quattro-immagini{
    display: flex;
    flex-wrap: wrap;
    margin-top:40px;
    margin-left:160px;
    width:680px;
    .due-immagini{
      width:340px;

      img{
        width:340px;
      }
    }
  }
}
// 4 immmagini
.immagini-4-messaggio{
  position: relative ;
  list-style: none;
  .messaggio-immagini{
    color: #fff;
    bottom:50px;
    @include font;
    margin-left:10px;
    list-style: none;
    position: absolute;
    // .linea{
    //   width:200px;
    //   height:32px;
    //   z-index: 33;
    //   background-color: blue;
    // }
  }
}
// immaginnidj
.due-immagini-dj{
  display: flex;
  width:100%;
  height:500px;
  .a1{
    border-top: 3px solid $red-c;
    width:100%;
    padding:50px 40px;
    height:100%;
    background-image: url('../img/a1.jpg');
    background-size: cover;
      background-position: 0 -240px ;
      h3{
        color:$red-c;
        @include font;
        font-size: 15px;
      }
      h2{
        @include font;
        color:#fff;
        font-size: 40px;
        padding:20px 0px;
      }
      h5{
        @include font;
        color:#fff;
        font-size: 13px;
        padding:10px;
        background-color:$blue ;
        height:35px;
        width:130px;
      }
  }
  .a2{
    border-top: 3px solid $blue;
    width:100%;
    height:100%;
    background-position: 0 0px ;
    background-size: cover;
    padding:50px 40px;
    background-image: url('../img/a2.jpg');
    h3{
      font-size: 15px;
      color:$blue;
      @include font;
    }
    h2{
      padding:20px 0px;
      @include font;
      color:#fff;
      font-size: 40px;
    }
    h5{
      @include font;
      height:35px;
      width:130px;
      color:#fff;
      font-size: 13px;
      padding:10px;
      background-color: $red-c;
    }
  }
}
.demo ul{
  transition: transform 1s;
}
.immagine-shuffle{
  max-width: 200px;
  max-height: 100px;
}
